:is(.video-banner, .banner-de-v-deo) {
  --video-accent-color: #009ad8;

  display: block;
  padding: 2rem 1rem;
}

@media (width >= 768px) {
  :is(.video-banner, .banner-de-v-deo) {
    padding: 5rem 2rem;
  }
}

.video-banner-placeholder,
.video-placeholder {
  margin: auto;
  max-width: 768px;
}

@media (width >= 768px) {
  .video-banner-placeholder,
  .video-placeholder {
    overflow: hidden;
    border-radius: 2rem;
  }
}

@media (width >= 1200px) {
  .video-banner-placeholder,
  .video-placeholder {
    max-width: 991px;
  }
}

@media (width >= 1440px) {
  .video-banner-placeholder,
  .video-placeholder {
    max-width: 1200px;
  }
}

:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js {
  width: 100%;
  aspect-ratio: 16 / 9;
}

:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js .vjs-big-play-button {
  border-color: var(--video-accent-color) !important;
  background-color: var(--video-accent-color) !important;
  opacity: 1;
}

:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js:hover .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js:focus .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js:active .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js:hover .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js:focus .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js:active .vjs-big-play-button,
:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js .vjs-big-play-button:hover,
:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js .vjs-big-play-button:focus,
:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js .vjs-big-play-button:active,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js .vjs-big-play-button:hover,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js .vjs-big-play-button:focus,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js .vjs-big-play-button:active {
  border-color: var(--video-accent-color) !important;
  background-color: var(--video-accent-color) !important;
  opacity: 1;
}

:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js .vjs-big-play-button .vjs-icon-placeholder,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js .vjs-big-play-button .vjs-icon-placeholder {
  color: transparent;
}

:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder .video-js .vjs-big-play-button .vjs-icon-placeholder::before,
:is(.video-banner, .banner-de-v-deo) .video-placeholder .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  color: #fff !important;
}

:is(.video-banner, .banner-de-v-deo) .video-js .vjs-play-progress,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-volume-level,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-menu li.vjs-selected,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-slider-bar,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-play-progress::before,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-progress-holder .vjs-play-progress,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-progress-holder .vjs-play-progress::before,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-volume-bar .vjs-volume-level,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-volume-level::before {
  background-color: var(--video-accent-color) !important;
  color: var(--video-accent-color) !important;
}

:is(.video-banner, .banner-de-v-deo) .video-js .vjs-control:focus,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-control:hover,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-button:focus,
:is(.video-banner, .banner-de-v-deo) .video-js .vjs-button:hover {
  color: var(--video-accent-color) !important;
}

:is(.video-banner, .banner-de-v-deo) .video-banner-placeholder video,
:is(.video-banner, .banner-de-v-deo) .video-placeholder video {
  width: 100%;
  height: 100%;
  min-width: 0;
}
