.video-banner {
  display: none;
}

@media (width >= 768px) {
  .video-banner {
    display: block;
    padding: 5rem 2rem;
  }
}

.video-banner-placeholder {
  margin: auto;
  max-width: 768px;
}

@media (width >= 768px) {
  .video-banner-placeholder {
    overflow: hidden;
    border-radius: 2rem;
  }
}

@media (width >= 1200px) {
  .video-banner-placeholder {
    max-width: 991px;
  }
}

@media (width >= 1440px) {
  .video-banner-placeholder {
    max-width: 1200px;
  }
}

.video-banner .video-banner-placeholder .video-js .vjs-big-play-button {
  background-color: #009ad8 !important;
}

.video-banner .video-banner-placeholder video {
  min-width: 0;
}
